body {
  box-sizing: border-box;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  background-color: darkcyan;
  text-align: center;
  font-size: 37px;
  font-weight: 800;
}

h2 {
  color: coral;
  width: fit-content;
}

p,
ul,
ol,
li {
  color: white;
  width: 1400px;
  width: fit-content;
}

a {
  color: rgb(177, 147, 206);
}

.recipe-image {
  width: 400px;
  height: auto;
}

.temp-style-atag-as-button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.recipe-list-box {
  background-color: rgba(176, 196, 222, 0.4);
  width: 450px;
  height: 700px;
  padding: 10px;
}

.rounded-corners {
  border-radius: 12px;
}

.content-box {
  background-color: rgba(176, 196, 222, 0.4);
  padding: 8px;
  width: fit-content;
  margin: 8px;
}
